*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#canvas{
    border: 20px solid brown;
    margin-top:20px;
}
body{
    background-color: black;
}
.hide{
    display:none;
}
.gameover{
    margin:0 auto;
    z-index: 5;
    width:800px;
    position: relative;
    top:-500px;
    background-color: blanchedalmond;
    text-align: center;
    line-height: 55px;
    padding: 15px 0;
}
.gameover  h2{
    color:orangered;
    font-weight: bolder;
    font-size: 40px;
}